*.la
*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.status.lineno
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
mutextrace
stamp-h1
